@model IEnumerable<Mirza_Lorena_practic.Models.MovieShopViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Movies Statistics";
}
<h2>Ordered Movies Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Movies
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.MovieCount
            </td>
        </tr>
    }
</table>
